#textdomain wesnoth-Alariels_Journey
# Originally from Rise of the Elementalist, Blue

[unit_type]
    id=aj_elemental_lavaelemental
    name= _ "Lava Elemental"
    race=aj_elemental
    image="units/elementals/lava-golem.png"
    profile=portraits/lava-elemental.png
    small_profile=portraits/lava-elemental.png~SCALE(205,205)
    hitpoints=50
    movement_type=aj_firewalk
    movement=6
    experience=80
    level=2
    advances_to=aj_elemental_lavabehemoth
    alignment=neutral
    cost=30
    usage=mixed fighter
    undead_variation=null
    description=_ "Creatures of coalesced lava, these rare elementals are found only in volcanic environments. Although they are quite slow, their semi-malleable bodies are resistant to many types of attack. As well, the damage they can inflict with their terrible strength is formidable, should they land a blow."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}
    die_sound=troll-die-1.ogg
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=slam
        description=_ "slam"
        icon=attacks/fist-rock.png
        type=impact
        range=melee
        damage=12
        number=2
    [/attack]
    [attack]
        name=hurl
        description=_"lava hurl"
        icon=attacks/lava-rock.png
        type=fire
        range=ranged
        damage=15
        number=1
    [/attack]
    {DEFENSE_ANIM "units/elementals/lava-golem-defend.png" "units/elementals/lava-golem.png" {SOUND_LIST:TROLL_HIT} }
    [attack_anim]
        [filter_attack]
            name=slam
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image=units/elementals/lava-golem.png
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=250
                image=units/elementals/lava-golem-attack.png
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=250
                image=units/elementals/lava-golem-attack.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image=units/elementals/lava-golem.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=hurl
        [/filter_attack]

        start_time=-1000
        offset=0

        [frame]
            duration=200
            image="units/elementals/lava-golem-ranged1.png"
        [/frame]
        [if]
            hits=yes

            {MISSLE_FRAME_LAVA_HURL_HITS}

            [frame]
                duration=200
                image="units/elementals/lava-golem-ranged2.png"
                sound=flame-big.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            {MISSLE_FRAME_LAVA_HURL_MISSES}

            [frame]
                duration=200
                image="units/elementals/lava-golem-ranged2.png"
                sound=flame-big-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=400
            image="units/elementals/lava-golem-ranged3.png"
        [/frame]
        [frame]
            duration=100
            image="units/elementals/lava-golem.png"
        [/frame]
    [/attack_anim]
    [death]
        start_time=0
        [frame]
            duration=50
            image=units/elementals/lava-golem.png
        [/frame]
        [frame]
            duration=200
            image=units/elementals/lava-golem-die-1.png
        [/frame]
        [frame]
            duration=200
            image=units/elementals/lava-golem-die-2.png
        [/frame]
        [frame]
            duration=200
            image=units/elementals/lava-golem-die-3.png
        [/frame]
    [/death]
[/unit_type]

