#textdomain wesnoth-Alariels_Journey
# From Era of Magic
[unit_type]
    id=aj_elemental_rivergod
    name= _ "River God"
    race=aj_elemental
    image="units/elementals/water-god1.png"
    profile="portraits/rivergod.png"
    small_profile="portraits/rivergod_sm.png"
    hitpoints=200
    movement_type=swimmer
    movement=8
    experience=200
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=50
    usage=healer
    [movement_costs]
        deep_water=1
        shallow_water=1
    [/movement_costs]
    [defense]
        deep_water=40
        shallow_water=30
    [/defense]
    description= _ "River gods are beyond rare, with only a handful known to exist. Of these, Lord Tethra, guardian of the Well of Souls in the Valley of the Four Rivers, is both the oldest and most powerful. Endowed with near immortality, most of these beings serve as protectors of the world's waterways and aquatic life, as well as the shepherds of the water elementals."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_REGENERATES}
    #die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_CURES}
        {ABILITY_REGENERATES}
    [/abilities]
    [movement_costs]
        flat=100
    [/movement_costs]
    [resistance]
        fire=150
        cold=100
        arcane=100
    [/resistance]
    [attack]
        name=water_lash
        description=_"water lash"
        icon=attacks/waterlash.png
        type=impact
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=waterspray
        description=_ "water spray"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=12
        number=3
        [specials]
            #{WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    
    # STANDING
    [standing_anim]
        [frame]
            begin=0
            end=200
            image="units/elementals/water-god1.png"
        [/frame]
        [frame]
            begin=200
            end=400
            image="units/elementals/water-god2.png"
        [/frame]
        [frame]
            begin=400
            end=600
            image="units/elementals/water-god3.png"
        [/frame]
    [/standing_anim]
    
    # DEFENSE
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=-125
            image="units/elementals/water-god3.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/elementals/water-god-defend1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/elementals/water-god-defend2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/elementals/water-god-defend3.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/elementals/water-god3.png"
        [/frame]
    [/defend]
    [defend]
        hits=yes
        [frame]
            begin=-126
            end=-125
            image="units/elementals/water-god3.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/elementals/water-god-hit1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/elementals/water-god-hit2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/elementals/water-god-hit3.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/elementals/water-god3.png"
        [/frame]
    [/defend]
    
    # DEATH
    [death]
        start_time=0
        [frame]
            duration=150
            image="units/elementals/water-god-hit1.png"
        [/frame]
        [frame]
            duration=150
            image="units/elementals/water-god-hit2.png"
        [/frame]
        [frame]
            duration=150
            image="units/elementals/water-god-die1.png"
        [/frame]
        [frame]
            duration=150
            image="units/elementals/water-god-die2.png"
        [/frame]
        [frame]
            duration=150
            image="units/elementals/water-god-die3.png"
        [/frame]
        [frame]
            duration=150
            image="units/elementals/water-god-die4.png"
        [/frame]
        [frame]
            duration=150
            image="units/elementals/water-god-die5.png"
        [/frame]
        [frame]
            duration=150
            image="units/elementals/water-god-die6.png"
        [/frame]
    [/death]
    
    # WATER LASH
    [attack_anim]
        [filter_attack]
            name=water_lash
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-200
            image="units/elementals/water-god1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/elementals/water-god-attack1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/elementals/water-god-attack2.png"
            sound=water-blast.wav
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/elementals/water-god-attack1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/elementals/water-god1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=water_lash
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-200
            image="units/elementals/water-god1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/elementals/water-god-attack1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/elementals/water-god-attack2.png"
            sound=water-blast.wav
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/elementals/water-god-attack1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/elementals/water-god1.png"
        [/frame]
    [/attack_anim]
    
    # WATER SPRAY
    [attack_anim]
        [filter_attack]
            name=waterspray
        [/filter_attack]
        [missile_frame]
            begin=-220
            end=-100
            image="projectiles/icemissile-n-2.png"
            image_diagonal="projectiles/icemissile-ne-2.png"
        [/missile_frame]
        [missile_frame]
            begin=-100
            end=25
            image="projectiles/icemissile-n-3.png"
            image_diagonal="projectiles/icemissile-ne-3.png"
        [/missile_frame]
        [missile_frame]
            begin=25
            end=80
            image="projectiles/icemissile-n-4.png"
            image_diagonal="projectiles/icemissile-ne-4.png"
        [/missile_frame]
        [frame]
            begin=-400
            end=-350
            image="units/elementals/water-god1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=0
                image="units/elementals/water-god-defend1.png"
                #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                #halo_x,halo_y=6,-19
                sound=water-blast.wav
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=0
                image="units/elementals/water-god-defend1.png"
                #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                #halo_x,halo_y=6,-19
                sound=water-blast.wav
            [/frame]
        [/else]
        [frame]
            begin=0
            end=150
            image="units/elementals/water-god-defend2.png"
        [/frame]
        [frame]
            begin=150
            end=300
            image="units/elementals/water-god-defend3.png"
        [/frame]
    [/attack_anim]
[/unit_type]
